temp/cs-attributes-6.xsd

<?xml version="1.0"?>

<xs:schema 
targetNamespace="http://www.ruleml.org/0.91/xsd"
xmlns="http://www.ruleml.org/0.91/xsd"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified"
>
	<!-- based on 2006-08-04 meeting with Harold -->

	<!--
		this new version created to try to address inability to skip head/body within Implies
		by introducing Equal vs. DoubleEqual
		
		results:
		can now skip head and body just fine
		cannot skip lhs and rhs for Equal (but can for DoubleEqual, as before)
		cannot help with only-passive-in-passive restriction (i.e. have to keep backquote-comma convention)
	-->
	
	

	<!--
		*** RuleML ***
		The n-ary top-level of a RuleML document.
	-->
	<xs:attributeGroup name="RuleML.attlist"/>
	<xs:group name="RuleML.content">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Assert"/>
				<xs:element ref="Query"/>
			</xs:choice>
		</xs:sequence>		
	</xs:group>
	<xs:complexType name="RuleML.type">
		<xs:group ref="RuleML.content"/>
		<xs:attributeGroup ref="RuleML.attlist"/>
	</xs:complexType>
	<xs:element name="RuleML" type="RuleML.type"/>

	<!--
		*** Assert ***
		A KQML-like performative acting as a wrapper specifying that its content is
		asserted, making an 'implicit <And>' assumption.
	-->
	<xs:attributeGroup name="Assert.attlist">
	</xs:attributeGroup>	
	<xs:group name="Assert.content">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Implies"/>
				<xs:element ref="Equivalent"/>
				<xs:element ref="Equal"/> <!-- added in hornlogeq -->
			</xs:choice>	
		</xs:sequence>			
	</xs:group>
	<xs:complexType name="Assert.type">
		<xs:group ref="Assert.content"/>
		<xs:attributeGroup ref="Assert.attlist"/>
	</xs:complexType>
	<xs:element name="Assert" type="Assert.type"/>
	

	<!--
		*** Query ***
		A KQML-like performative acting as a wrapper specifying that its content is
		queried, making an 'implicit <And>' assumption.
	-->
	<xs:attributeGroup name="Query.attlist">
	</xs:attributeGroup>	
	<xs:group name="Query.content">
		<xs:sequence>
			<!-- @@@ <xs:element ref="oid" minOccurs="0"/> -->
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="DoubleEqual"/> <!-- added in hornlogeq -->
			</xs:choice>	
		</xs:sequence>	
	</xs:group>
	<xs:complexType name="Query.type">
		<xs:group ref="Query.content"/>
		<xs:attributeGroup ref="Query.attlist"/>
	</xs:complexType>
	<xs:element name="Query" type="Query.type"/>
	
	
	<!--
		*** Implies ***
		An implication rule.
	-->
	<xs:attributeGroup name="Implies.attlist">
	</xs:attributeGroup>
	<xs:group name="Implies.content">
		<xs:sequence>
			<!-- @@@ <xs:element ref="oid" minOccurs="0"/> -->
			<xs:choice>
				<xs:sequence>
					<xs:element ref="head"/>
					<xs:element ref="body"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="body"/> 
					<xs:element ref="head"/> 
				</xs:sequence>
				<!-- role skipped versions -->
				<xs:sequence>
					<xs:group ref="body.content"/>
					<xs:group ref="head.content"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="Implies.type">
		<xs:group ref="Implies.content"/>
		<xs:attributeGroup ref="Implies.attlist"/>
	</xs:complexType>
	<xs:element name="Implies" type="Implies.type"/>
	
	
	<!-- 
		*** body ***
		The body of an implication rule containing the premise(s),
		also known as the "antecedent" or "if" part of the rule.
	-->
	<xs:attributeGroup name="body.attlist"/>
	<xs:group name="body.content">
		<xs:choice>
		<!--
			<xs:element name="Atom" type="Atom.type"/>
			<xs:element name="And" type="And-inner.type"/>
			<xs:element name="Or" type="Or-inner.type"/>
		-->
			<xs:element ref="DoubleEqual"/> <!-- added in hornlogeq -->
		</xs:choice>
	</xs:group>
	<xs:complexType name="body.type">
		<xs:group ref="body.content"/>
		<xs:attributeGroup ref="body.attlist"/>
	</xs:complexType>
	<xs:element name="body" type="body.type"/>
	
	<!--
		*** head ***
		The head of an implication rule containing the conclusion,
		also known as the "consequent" or "then" part of the rule.
	-->
	<xs:attributeGroup name="head.attlist"/>
	<xs:group name="head.content">
		<xs:choice>
		<!--
			<xs:element name="Atom" type="Atom.type"/>
		-->
			<xs:element ref="Equal"/> <!-- added in hornlogeq -->
		</xs:choice>
	</xs:group>
	<xs:complexType name="head.type">
		<xs:group ref="head.content"/>
		<xs:attributeGroup ref="head.attlist"/>
	</xs:complexType>
	<xs:element name="head" type="head.type"/>


	<xs:attributeGroup name="Equal.attlist"/>
	<xs:group name="Equal.content">
		<xs:sequence>
			<xs:choice>
				<xs:element name="lhs" type="lhs-interpreted.type"/>
				<!-- role skipped -->
				<!--
				<xs:group ref="lhs-interpreted.content"/> 
				-->
			</xs:choice>
			<xs:choice>
				<xs:element ref="rhs"/>
				<!-- role skipped -->
				<!--
				<xs:group ref="rhs.content"/> 
				-->
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="Equal.type">
		<xs:group ref="Equal.content"/>
		<xs:attributeGroup ref="Equal.attlist"/>
	</xs:complexType>
	<xs:element name="Equal" type="Equal.type"/>
	
	
	<xs:attributeGroup name="DoubleEqual.attlist"/>
	<xs:group name="DoubleEqual.content">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="lhs"/>
				<xs:group ref="lhs.content"/> <!-- role skipped -->
			</xs:choice>
			<xs:choice>
				<xs:element ref="rhs"/>
				<xs:group ref="rhs.content"/> <!-- role skipped -->
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="DoubleEqual.type">
		<xs:group ref="DoubleEqual.content"/>
		<xs:attributeGroup ref="DoubleEqual.attlist"/>
	</xs:complexType>
	<xs:element name="DoubleEqual" type="DoubleEqual.type"/>
	
	
	<xs:attributeGroup name="lhs.attlist"/>
	<xs:group name="lhs.content">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="Expr"/>
				<xs:element ref="Ind"/>
				<xs:element ref="Data"/>
				<!-- other terms omitted -->
			</xs:choice>			
		</xs:sequence>
	</xs:group>
	<xs:group name="lhs-interpreted.content">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Expr" type="Expr-interpreted.type"/>
				<xs:element ref="Ind"/>
				<xs:element ref="Data"/>
				<!-- other terms omitted -->
			</xs:choice>			
		</xs:sequence>
	</xs:group>
	<xs:complexType name="lhs.type">
		<xs:group ref="lhs.content"/>
		<xs:attributeGroup ref="lhs.attlist"/>
	</xs:complexType>
	<xs:complexType name="lhs-interpreted.type">
		<xs:group ref="lhs-interpreted.content"/>
		<xs:attributeGroup ref="lhs.attlist"/>
	</xs:complexType>
	<xs:element name="lhs" type="lhs.type"/>
	
	<!-- @@@ connect rhs.content and lhs.content via a group? -->
	<xs:attributeGroup name="rhs.attlist"/>
	<xs:group name="rhs.content">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="Expr"/>
				<xs:element ref="Ind"/>
				<xs:element ref="Data"/>
				<!-- other terms omitted -->
			</xs:choice>			
		</xs:sequence>
	</xs:group>
	<xs:complexType name="rhs.type">
		<xs:group ref="rhs.content"/>
		<xs:attributeGroup ref="rhs.attlist"/>
	</xs:complexType>
	<xs:element name="rhs" type="rhs.type"/>
	

	<xs:attributeGroup name="Expr.attlist"/>
	<xs:group name="Expr.content">
		<xs:sequence>
			<xs:element ref="Fun"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Expr"/>
				<xs:element ref="Ind"/>
				<xs:element ref="Data"/>
				<!-- other terms omitted -->
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="Expr-interpreted.content">
		<xs:sequence>
			<xs:element name="Fun" type="Fun-interpreted.type"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Expr"/>
				<!--
					To enforce constructor discipline (i.e. that second and
					deeper-level functions must be uninterpreted in a defining
					equation), replace global definition above with local one below
				-->
				<!--<xs:element name="Expr" type="Expr-uninterpreted.type"/>-->
				<xs:element ref="Ind"/>
				<xs:element ref="Data"/>
				<!-- other terms omitted -->
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="Expr-uninterpreted.content">
		<xs:sequence>
			<xs:element name="Fun" type="Fun-uninterpreted.type"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="Expr" type="Expr-uninterpreted.type"/>
				<xs:element ref="Ind"/>
				<xs:element ref="Data"/>
				<!-- other terms omitted -->
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="Expr.type">
		<xs:group ref="Expr.content"/>
		<xs:attributeGroup ref="Expr.attlist"/>
	</xs:complexType>
	<!-- used in (defining) Equal -->
	<xs:complexType name="Expr-interpreted.type">
		<xs:group ref="Expr-interpreted.content"/>
		<xs:attributeGroup ref="Expr.attlist"/>
	</xs:complexType>
	<!-- used for constructor discipline -->
	<xs:complexType name="Expr-uninterpreted.type">
		<xs:group ref="Expr-uninterpreted.content"/>
		<xs:attributeGroup ref="Expr.attlist"/>
	</xs:complexType>
	<xs:element name="Expr" type="Expr.type"/>
	

	<xs:attributeGroup name="Fun-uninterpreted.attlist">
		<xs:attributeGroup ref="in-uninterpreted.attrib"/>
	</xs:attributeGroup>	
	<xs:attributeGroup name="Fun-interpreted.attlist">
		<xs:attributeGroup ref="in-interpreted.attrib"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="Fun.attlist">
		<xs:attributeGroup ref="in.attrib"/>
	</xs:attributeGroup>
	<xs:group name="Fun.content">
            <xs:sequence/>
      </xs:group>
	<xs:complexType name="Fun-interpreted.type" mixed="true">
		<xs:group ref="Fun.content"/>
		<xs:attributeGroup ref="Fun-interpreted.attlist"/>
	</xs:complexType>
	<xs:complexType name="Fun-uninterpreted.type" mixed="true">
		<xs:group ref="Fun.content"/>
		<xs:attributeGroup ref="Fun-uninterpreted.attlist"/>
	</xs:complexType>	
	<xs:complexType name="Fun.type" mixed="true">
		<xs:group ref="Fun.content"/>
		<xs:attributeGroup ref="Fun.attlist"/>
	</xs:complexType>
	<xs:element name="Fun" type="Fun.type"/>
	
	
	<xs:attributeGroup name="in-interpreted.attrib">
		<xs:attribute name="in" use="required" fixed="yes"/> 
	</xs:attributeGroup>
	<xs:attributeGroup name="in-uninterpreted.attrib">
		<xs:attribute name="in" use="required" fixed="no"/> 
	</xs:attributeGroup>
	<xs:attributeGroup name="in.attrib">
		<xs:attribute name="in" use="optional" default="semi">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="semi"/>				
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>

	<!-- ############################################################# -->
	
	<!--
		*** Equivalent ***
		An equivalence expression, which is "syntactic sugar" for a pair
		of conjoined converse implication rules.
	-->
	<xs:attributeGroup name="Equivalent.attlist">
		<!--<xs:attributeGroup ref="closure.attrib"/>-->
	</xs:attributeGroup>
	<xs:group name="Equivalent.content">
		<xs:sequence>
			<!--<xs:element ref="oid" minOccurs="0"/>-->
			<xs:choice>
				<xs:element ref="torso" minOccurs="2" maxOccurs="2"/>
				<xs:group ref="torso.content" minOccurs="2" maxOccurs="2"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="Equivalent.type">
		<xs:group ref="Equivalent.content"/>
		<xs:attributeGroup ref="Equivalent.attlist"/>
	</xs:complexType>
	<xs:element name="Equivalent" type="Equivalent.type"/>
	
	<!--
		*** torso ***
		A symmetric role used in an equivalence expression combining
		the asymmetric <head> and <body>.
	-->
	<xs:attributeGroup name="torso.attlist"/>
	<xs:group name="torso.content">
		<xs:choice>
			<!--<xs:element name="Atom" type="Atom.type"/>-->
			<xs:element ref="Ind"/>
			<!-- @@@ can't enforce that they are both one or the other within Equivalent -->
			<xs:element name="Equal"/>
			<xs:element name="DoubleEqual"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="torso.type">
		<xs:group ref="torso.content"/>
		<xs:attributeGroup ref="torso.attlist"/>
	</xs:complexType>
	<xs:element name="torso" type="torso.type"/>
	
	<!-- ############################################################# -->
	
	<!--
		*** Ind ***
		An individual constant, as in predicate logic, which can also be considered to
		be a fixed argument like RDF resources.
	-->
       <xs:attributeGroup name="Ind.attlist">
       </xs:attributeGroup>
	<xs:group name="Ind.content">
		<xs:sequence/>
	</xs:group>	
	<xs:complexType name="Ind.type" mixed="true">
		<xs:group ref="Ind.content"/>
		<xs:attributeGroup ref="Ind.attlist"/>
	</xs:complexType>
	<xs:element name="Ind" type="Ind.type"/>

	<!--
		*** Data ***
		A fixed argument like RDF literals.  It may be optionally associated with an XML Schema
		built-in datatype (see http://www.w3.org/TR/xmlschema-2/#built-in-datatypes) using the
		xsi:type attribute.
	-->
	<xs:element name="Data" type="xs:anySimpleType"/>
	
	
</xs:schema>